In [1]:
# Importing Required Libraries 
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
pd.set_option("display.max_columns", None)
import plotly.express as px

# Loading Dataset
data = pd.read_csv('CommonCars.csv')

# Examine data structure and features
print(data.head())
print(data.shape)
print(data.columns)
print(data.info())
print(data.isnull().sum())
data.fillna(data.mean(numeric_only=True), inplace=True)
print(data.duplicated().sum())
print(data.describe())

   Make Model  Year  Engine Fuel Type  Engine HP Transmission Type  \
0  Audi   100  1993  regular unleaded      172.0            MANUAL
1  Audi   100  1994  regular unleaded      172.0         AUTOMATIC
2  Audi   200  1990  regular unleaded      162.0         AUTOMATIC
3  Audi   200  1991  regular unleaded      162.0         AUTOMATIC
4  Audi    80  1990  regular unleaded      108.0            MANUAL

       Driven_Wheels Vehicle Size Vehicle Style  Popularity    MSRP  \
0    all wheel drive      Midsize         Sedan      3105.0  2000.0
1  front wheel drive      Midsize         Wagon      3105.0  2000.0
2  front wheel drive      Midsize         Sedan      3105.0  2000.0
3  front wheel drive      Midsize         Sedan      3105.0  2000.0
4  front wheel drive      Compact         Sedan      3105.0  2000.0

   Price(Ksh)  Engine CC(ltrs)
0    220000.0              2.3
1    220000.0              2.3
2    220000.0              1.8
3    220000.0              1.8
4    220000.0              1.6
(2314, 13)
Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Transmission Type', 'Driven_Wheels', 'Vehicle Size', 'Vehicle Style',
       'Popularity', 'MSRP', 'Price(Ksh)', 'Engine CC(ltrs)'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2314 entries, 0 to 2313
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               2313 non-null   object
 1   Model              2312 non-null   object
 2   Year               2312 non-null   object
 3   Engine Fuel Type   2310 non-null   object
 4   Engine HP          574 non-null    float64
 5   Transmission Type  577 non-null    object
 6   Driven_Wheels      576 non-null    object
 7   Vehicle Size       577 non-null    object
 8   Vehicle Style      577 non-null    object
 9   Popularity         577 non-null    float64
 10  MSRP               577 non-null    float64
 11  Price(Ksh)         577 non-null    float64
 12  Engine CC(ltrs)    577 non-null    float64
dtypes: float64(5), object(8)
memory usage: 235.1+ KB
None
Make                    1
Model                   2
Year                    2
Engine Fuel Type        4
Engine HP            1740
Transmission Type    1737
Driven_Wheels        1738
Vehicle Size         1737
Vehicle Style        1737
Popularity           1737
MSRP                 1737
Price(Ksh)           1737
Engine CC(ltrs)      1737
dtype: int64
482
         Engine HP   Popularity           MSRP    Price(Ksh)  Engine CC(ltrs)
count  2314.000000  2314.000000    2314.000000  2.314000e+03      2314.000000
mean    296.076655  2700.438475   54883.440208  6.037178e+06         2.744367
std      66.966591   602.332717   27806.734315  3.058741e+06         0.579087
min      55.000000   155.000000    2000.000000  2.200000e+05         1.000000
25%     296.076655  2700.438475   54883.440208  6.037178e+06         2.744367
50%     296.076655  2700.438475   54883.440208  6.037178e+06         2.744367
75%     296.076655  2700.438475   54883.440208  6.037178e+06         2.744367
max     731.000000  5657.000000  410000.000000  4.510000e+07         6.300000